
<div class="w-full block">
  <div class="flex-col">
  <% unless @class_name.nil? %>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl text-center leading-6 font-medium text-gray-500 uppercase mt-4 mb-4">
      <%= "#{@class_name_name}"%>
    </h2>
    <div id="module_names">
      <%= render 'students/module_names'%>
    </div>
    <div id="levels">
      <%= render 'students/levels'%>
    </div>
    <div id="quizzes">
      <%= render 'students/quizzes'%>
    </div>
    <div id="type_of_quizzes">
      <%= render 'students/type_of_quizzes'%>
    </div>

         <% else %>
      <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-4xl text-center leading-6 font-medium text-gray-500 uppercase mt-4 mb-4">No Quiz Available</h2>
      </div>
    <% end %>
      </div>
      </div>


      
  <style>
  .ml-6 {
    margin-left: 15.5rem;
}
</style>
<script>
  function set_module_name(module_name)
  {
    $.ajax({
      type: 'get',
      data: 'module_name_id='+module_name,
      url: '<%= set_module_name_path %>'
    })
  }

  function set_level(level)
  {
    $.ajax({
      type: 'get',
      data: 'level_id='+level,
      url: '<%= set_level_path %>'
    })
  }

  function set_quiz(quiz)
  {
    $.ajax({
      type: 'get',
      data: 'quiz_id='+quiz,
      url: '<%= set_quiz_path %>'
    })
  }

</script>