<%= form_with(model: type_of_quiz, class: "contents") do |form| %>
  <% if type_of_quiz.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(type_of_quiz.errors.count, "error") %> prohibited this type_of_quiz from being saved:</h2>

      <ul>
        <% type_of_quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :type %>
    <div id="type" class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full">
      <%= type_of_quiz.type.name %>
    </div>
  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name,id: "name" %>
  </div>

  <div class="my-5">
    <%= form.label :duration %>
    <%= form.number_field :duration,id: "duration" %> in minutes
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="inline">
    <%= form.submit type: "button", class: "submit-button rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<script>
  $(".submit-button").on('click', function() {
    if($("#name").val() =="")
    {      
      alert("Name can't be null");
    }
    else
    {
      $(".submit-button").attr("type","submit");
    }
  })
</script>
