<div id="<%= dom_id student_quiz %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= student_quiz.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quiz:</strong>
    <%= student_quiz.quiz_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this student quiz", student_quiz, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this student quiz', edit_student_quiz_path(student_quiz), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
